doctype html
html
    head 
        title Chrome/Glass Buttons
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
        script    
            include addData.js
            include index.js
            
        style
            include form.css
            include style.css
    body
        article
            nav(class="btn-bar nav-dark")
                button.btn.btn-glass.btn.primary.home(type = 'button')
                    i(class="fa fa-sm fa-chevron-right") HOME
                button.btn.btn-glass.btn.primary.logOut(type = 'button')
                    i(class="fa fa-sm fa-chevron-right") LOG OUT
        br
        br
        form(id="contact")
            div(class="container")
                div(class="head")
                    h2 Add data
                input(type="text" name="data1" placeholder="Introduce data 1")
                br
                input(type="text" name="data2" placeholder="Introduce data 2")
                br 
                input(type="text" name="data3" placeholder="Introduce data 3")
                br 
                input(type="text" name="data4" placeholder="Introduce data 4")
                br
                input(type="text" name="data5" placeholder="Introduce data 5")
                br
                div(class="message") Message Sent
                button(class="button-form" id="submit" type="submit") Send!