doctype html

html
    head
        title startView
        style
            include style.css
        title Chrome/Glass Buttons
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        script    
            include index.js

    body(align = 'center')
        if (logged === false)
            article
                nav(class="btn-bar nav-dark" align='center')
                    button.btn.btn-glass.btn.primary.login(type = 'button')
                        i(class="fa fa-sm fa-chevron-right") LOGIN
                    button.btn.btn-glass.btn.primary.signUp(type = 'button')
                        i(class="fa fa-sm fa-chevron-right") SIGN UP
        else
            p Hello, #{userName}!
            article
                nav(class="btn-bar nav-dark")
                    if (userType === 'admin')
                        button.btn.btn-glass.btn.primary.pendingReq(type = 'button')
                            i(class="fa fa-sm fa-chevron-right") PENDING REQUESTS
                    button.btn.btn-glass.btn.primary.addData(type = 'button')
                        i(class="fa fa-sm fa-chevron-right") ADD DATA
                    button.btn.btn-glass.btn.primary.logOut(type = 'button')
                        i(class="fa fa-sm fa-chevron-right") LOG OUT
        