doctype html
html
    head 
        title Chrome/Glass Buttons
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900')
        link(rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
        script    
            include login.js
            include index.js
            
        style
            include form.css
            include style.css
            
    body
        article
            nav(class="btn-bar nav-dark")
                button.btn.btn-glass.btn.primary.home(type = 'button')
                    i(class="fa fa-sm fa-chevron-right") HOME
                button.btn.btn-glass.btn.primary.signUp(type = 'button')
                    i(class="fa fa-sm fa-chevron-right") SIGN UP
        br
        br
        form(id="contact")
            div(class="container")
                div(class="head")
                    h2 Login
                input(type="text" name="userName" placeholder="User Name")
                br 
                input(type="password" name="password" placeholder="Password")
                br
                button(id="submit" class="button-form" type="submit") Send!